<div class="overlay"></div>
<div class="popup thanx">
    <div class="close-button">
        {{Icon iconName="close"}}
    </div>
    <div class="thanx__title m-title-1">
            ваша заявка отправлена
    </div>
    <div class="thanx__desc m-desc">
            Наш менеджер сяжется с вами в течении 15 минут
    </div>
    <div class="m-button ok-close">хорошо</div>
</div>

<div class="popup order">
    <div class="close-button">
        {{Icon iconName="close"}}
    </div>
    <div class="thanx__title m-title-1">
            Заказать данный товар
    </div>
    <div class="thanx__desc m-desc">
        вы можете заказать обратный звонок для связи с менеджером
    </div>
    <form action="#" class="form " novalidate="novalidate">
        <div class="form__content">
            <input placeholder="Укажите ваш номер" type="text" name="phone" class="m-field field-phone" maxlength="15">
            <button class="m-button">Заказать обратный звонок</button>
        </div>
    </form>
</div>