<div class="ctg__item">
    <div class="ctg__block">
        <a href="#" class="ctg__title">
            ГЕЙЗЕР 15 ЛТ / RENOLIN B 15 HVI
        </a>
        <div class="ctg__desc m-desc-w">
            Серия гидравлических масел с высоким индексом вязкости 
            для гидросистем работающих в широком диапазоне температур 
            и нагрузок. Также подходит для смазки подшипников и закрытых зубчатых передач, где...
        </div>
    </div>
    <div class="ctg__block">
        <div class="ctg__title">
            Сертификация и одобрения
        </div>

        <table class="ctg__caption">
            <tr class="ctg__caption-row">
                <td class="ctg__caption__item">
                    <div class=" m-desc-w">
                        DIN 51 524-3 (HVLP)
                    </div>
                </td>

                <td class="ctg__caption__item">
                    <div class=" m-desc-w">
                        DIN 51 524-3 (HVLP)
                    </div>
                </td>
            </tr>

            <tr class="ctg__caption-row">
                <td class="ctg__caption__item">
                    <div class=" m-desc-w">
                        DIN 51 524-3 (HVLP)
                    </div>
                </td>

                <td class="ctg__caption__item">
                    <div class=" m-desc-w">
                        DIN 51 524-3 (HVLP)
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>