<div class="ctg__item">
    <div class="ctg__block">
        <a href="#" class="ctg__title">
                Quick split cleaner 
        </a>
        <div class="ctg__desc m-desc-w">
            Quick split cleaner — очиститель для танков и трюмов с сильными загрязнениями. Может содержать гидрофобизаторы, присадки и антиэмульгаторы. Свойства быстрого разложения оставляют водную фазу с содержанием нефти меньше, чем 15 млн–1, что отвечает требованиям ММО
        </div>

        <a href="#" class="first__bottom-link">
            подробнее
        </a>
    </div>
</div>